In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

file_path = "./data/loan_data_set.csv"
data = pd.read_csv(file_path)
df  = pd.DataFrame(data)

Z-score normalization refers to the process of normalizing every value in a dataset such that the mean of all of the values is 0 and the standard deviation is 1.
### New value = (x – μ) / σ
μ = mean, σ = standard daviation

In [3]:
#consider only numeric columns
numeric_cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
def z_scoreVal(col):
    return (col - col.mean())/col.std()

#z-score normalization
df[numeric_cols] = df[numeric_cols].apply(z_scoreVal)
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,0.072931,-0.554036,NaN,0.276411,0.432477,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,-0.134302,-0.038700,-0.215127,0.276411,0.432477,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,-0.393427,-0.554036,-0.939534,0.276411,0.432477,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,-0.461686,0.251774,-0.308599,0.276411,0.432477,Urban,Y
4,LP001008,Male,No,0,Graduate,No,0.097649,-0.554036,-0.063236,0.276411,0.432477,Urban,Y